{% extends 'base.html.twig' %}

{% block title %}Equipe index{% endblock %}

{% block body %}

<div class="topbar">
        <h1 class="current"><b>SIRH - MNS</b> | <span>GESTION ÉQUIPES</span> </h1>
        <nav>
        <a href="#" class="menu-item"><span> Nombres d'équipes : {{ equipeCount }}</span></a>
          <a href="{{ path('app_equipe_new') }}" class="menu-item"><span class="iconoir-plus-circle-solid mr-2"></span>Ajouter équipe</a>
        </nav>
      </div>
      <div class="wrapper">
      
    <table class="table table-admin">

        <thead>
            <tr>
                <th>Équipe parente</th>
                <th>Nom</th>
                <th>Responsable</th>
                <th>Membres</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{% if (equipe.parent != null) %}
                        {{ equipe.parent.nom }}
                    {% else %}
                        Racine de la structure
                    {% endif %}
                </td>
                <td>{{ equipe.nom }}</td>
                <td>
                    {% for user in equipe.users %}
                        {% if "ROLE_RESPONSABLE_HIERA" in user.roles  %}
                            <a href="{{ path('app_user_show', {id: user.id}) }}">
                                <div class="img-container">
                                    <img class="img-profil-tab" src="{{ asset('uploads/user/' ~ user.image) }}">
                                    <span class="tooltip-text">{{ user.nom }} {{ user.prenom }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </td>
               
                <td>
                    {% for user in equipe.users %}
                        <a href="{{ path('app_user_show', {id: user.id}) }}">
                            <div class="img-container">
                                <img class="img-profil-tab" src="{{ asset('uploads/user/' ~ user.image) }}">
                                <span class="tooltip-text">{{ user.nom }} {{ user.prenom }}</span>
                            </div>
                        </a>
                    {% endfor %}
                </td>
               
                 <td class="d-flex justify-content-center align-items-center">
                    <a href="{{ path('app_equipe_edit', {'id': equipe.id}) }}" class="btn-edit btn btn-sm btn-danger mr-2">
                        <span class="iconoir-design-pencil iconoir-btn-ed mr-1"></span> Edit
                    </a>
                    <form method="post" action="{{ path('app_equipe_delete', {'id': equipe.id}) }}" class="m-0">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
                        <button type="submit" class="btn-delete btn btn-sm btn-danger d-flex" onclick="return confirm('Êtes-vous sûr de vouloir supprimer l`équipe ?');">
                            <span class="iconoir-trash-solid iconoir-btn-ed mr-1"></span> Supprimer
                        </button>
                    </form>

                    <a class="ml-2" href="{{ path('app_equipe_show', {'id': equipe.id}) }}"><i class="fa-solid fa-eye"></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
