{% extends 'base.html.twig' %}

{% block title %}absences index{% endblock %}

{% block body %}
<div class="topbar">
        <h1 class="current"><b>SIRH - MNS</b> | <span>GESTION ABSENCES</span> </h1>
        <nav>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DIRECTEURRH') or  is_granted('ROLE_RTT') %}
                <a href="{{ path('app_types_absences_index') }}" class="menu-item"><span class="iconoir-plus-circle-solid mr-2"></span>Gestion types d'absence</a>
            {% endif %}

            <a href="{{ path('app_absences_new') }}" class="menu-item"><span class="iconoir-plus-circle-solid mr-2"></span>Ajouter absences</a>
        </nav>
      </div>
      <div class="wrapper">
      
    <table class="table table-admin">
        <thead>
            <tr>
                <th>Fait par</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Etat</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.user.nom }} {{ absence.user.prenom }}</td> <!-- Affiche le nom de l'utilisateur -->
                <td>{{ absence.dateDebut ? absence.dateDebut|date('d/m/Y') : '' }}</td>
                <td>{{ absence.dateFin ? absence.dateFin|date('d/m/Y') : '' }}</td>
                <td class="status pt-3">
                    {% if absence.etat == "Non" %}
                        <span class="desactive">Non</span>
                    {% elseif absence.etat == "Attente" %}
                        <span class="attente">En attente</span>
                    {% else %}   
                        <span class="active">Oui</span>
                    {% endif %}  
                </td>
                
                <td class="d-flex justify-content-center align-items-center">

                    <a href="{{ path('app_absences_edit', {'id': absence.id}) }}" class="btn-edit btn btn-sm btn-danger mr-2">
                        <span class="iconoir-design-pencil iconoir-btn-ed mr-1"></span> Edit
                    </a>
                    <form method="post" action="{{ path('app_absences_delete', {'id': absence.id}) }}" class="m-0">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ absence.id) }}">

                        <button type="submit" class="btn-delete btn btn-sm btn-danger d-flex" onclick="return confirm('Êtes-vous sûr de vouloir supprimer l`absence ?');">
                            <span class="iconoir-trash-solid iconoir-btn-ed mr-1"></span> Supprimer
                        </button>
                    </form>
                    <a class="ml-2" href="{{ path('app_absences_show', {'id': absence.id}) }}"><i class="fa-solid fa-eye"></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'absences enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
