
{{ form_start(form) }}

    <div class="col-12 champ-form container-form">
        {% if user.image %}
            <h3>Modifier Image</h3>
        {% else %}
            <h3>Ajouter Image</h3>
        {% endif %}
    
        {% if user.image %}
            <img class="mb-3" src="{{ asset('uploads/user/' ~ user.image) }}" width="136">
        {% endif %}
    
        {{ form_row(form.image, { 'attr': {'placeholder': 'Image' } }) }}
    </div>
    <div class="col-12 champ-form container-form">
        <h3>Email :</h3>
        {{ form_row(form.email, { 'attr': { 'class': 'form-control', 'placeholder': 'Email' } }) }}
    </div>

    <div class="col-12 champ-form">
    <h3>Roles :</h3>
            
            <div class="custom-checkbox-group ">
                {% for role in form.roles %}
                    <div class="custom-checkbox">
                        {{ form_widget(role, {'attr': {'class': 'd-flexcustom-checkbox-input'}}) }}
                        <label for="{{ role.vars.id }}" class="custom-checkbox-label">{{ role.vars.label }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>

    <div class="col-12 champ-form">
        <h3>Equipe :</h3>
        {{ form_row(form.equipe, { 'attr': { 'class': 'js-example-basic-multiple-limit form-control', 'placeholder': 'Equipe' } }) }}
    </div>



    <div class="d-flex">
        <div class="col-6 champ-form container-form">
            <h3>Nom :</h3>
            {{ form_row(form.nom, { 'attr': { 'class': 'form-control', 'placeholder': 'Nom' } }) }}
        </div>

        <div class="col-6 champ-form container-form">
            <h3>Prénom :</h3>
            {{ form_row(form.prenom, { 'attr': { 'class': 'form-control', 'placeholder': 'Prénom' } }) }}
        </div>
    </div>
   
    <div class="col-12 champ-form">
        <h3>Date de naissance :</h3>
        {{ form_row(form.dateNaissance, { 'attr': { 'class': 'form-control', 'placeholder': 'Date de naissance' } }) }}
    </div>

    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="modal-submit d-flex justify-content-center">
            <button type="submit" class="btn-crud">Enregistrer</button>
        </div>
    </div>

    {{ form_end(form) }}

    </div>
